@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Custom fonts */
@font-face {
  font-family: "Mozilla Text";
  src:
    url("/fonts/MozillaText-Variable.woff2") format("woff2-variations"),
    url("/fonts/MozillaText-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mozilla Headline";
  src:
    url("/fonts/MozillaHeadline-Variable.woff2") format("woff2-variations"),
    url("/fonts/MozillaHeadline-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: "Morequiet";
  src: url("/fonts/Morequiet.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* ============ */ 

:root {
  --font-sans: "Mozilla Text", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;

  --font-mono: "Morequiet", ui-monospace, SFMono-Regular, Menlo, Monaco,
  Consolas, "Liberation Mono", "Courier New", monospace;

  --font-display: "Mozilla Headline", system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
